*{
  margin: 0;
  padding: 0;
  background-image: url("cloud-bg.jpg");
}

h1{
  text-align: center;
  color: rgb(228 39 39);
  font-size: 44px;
  font-family: sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}

img{
  height: 400px;
  width: 300px;
}